<section class="my-16 max-w-2xl mx-auto">
  <div class="text-4xl font-bold text-center">
    Ready for the next step?
    <br />
    <br />
    <a class="text-5xl text-blue-400 hover:text-blue-ª00" href="mailto:{{.Site.Params.authorEmail}}">Let's chat 📨</a>
  </div>
</section>

<style>
  @media (max-width: 700px) {

    .cta-white,
    .text-4xl.text-center {
      font-size: 1.75rem !important;
    }

    .cta-white a,
    .text-5xl.text-blue-400 {
      font-size: 2.25rem !important;
    }
  }
</style>