<section class="my-4 max-w-5xl mx-auto">
  <div class="text-3xl font-bold mb-8">Resume</div>

  <div class="space-y-8">
    <!-- Working Experience -->
    <div>
      <div class="text-2xl font-semibold mb-4">Working Experience</div>
      <div class="flex overflow-x-auto space-x-4">
        {{ range .Site.Params.homepage.resume.work}}
        <div class="flex-shrink-0 w-1/3 text-center">
          <div class="text-xl font-bold my-2">{{.name}}</div>
          <p class="my-1 font-light">{{.role}}</p>
          <p class="text-gray-500 my-1">{{.duration}}</p>
        </div>
        {{ end }}
      </div>
    </div>

    <!-- Skills -->
    <div>
      <div class="text-2xl font-semibold mb-4">Skills</div>
      <div class="flex overflow-x-auto space-x-4">
        {{ range .Site.Params.homepage.resume.skills}}
        <div class="flex-shrink-0 w-1/3 text-center">
          <div class="text-xl font-light my-2">{{.}}</div>
        </div>
        {{end}}
      </div>
    </div>

    <!-- Courses -->
    <div>
      <div class="text-2xl font-semibold mb-4">Courses</div>
      <div class="flex overflow-x-auto space-x-4">
        {{ range .Site.Params.homepage.resume.courses}}
        <div class="flex-shrink-0 w-1/3 text-center">
          <div class="text-xl font-bold my-2">{{.name}}</div>
          <p class="my-1 font-light">by {{.provider}}</p>
          <p class="text-gray-500 my-1">{{.duration}}</p>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>